*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z01 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z02 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z03 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z04 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z05 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z06 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z07 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z08 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z09 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z10 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z11 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z12 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z13 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z14 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z15 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z16 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z17 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z18 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z19 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z20 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z21 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z22 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z23 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z24 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z25 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z26 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z27 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z28 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z29 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z30 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z31 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z32 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z33 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z34 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z35 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z36 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z37 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z38 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z39 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z40 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z41 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z42 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z43 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z44 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z45 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z46 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z47 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z48 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z49 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z50 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z51 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z52 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z53 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z54 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z55 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z56 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z57 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z58 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z59 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z60 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z61 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z62 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z63 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z64 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z65 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z66 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z67 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z68 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z69 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z70 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z71 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z72 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z73 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z74 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z75 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z76 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z77 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z78 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z79 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z80 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z100 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z81 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z82 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z83 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z84 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z85 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z86 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z87 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z88 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z89 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z90 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z91 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z92 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z93 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z94 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z95 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z96 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z97 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z98 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z99 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z101 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z102 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z103 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z104 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z105 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z106 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z107 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z108 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z109 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z110 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z111 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z112 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z113 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z114 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z115 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z116 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z117 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z118 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z119 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z120 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z121 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z122 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z123 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z124 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z125 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z126 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z127 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z128 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z129 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z130 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z131 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z132 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z133 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z134 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z135 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z136 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z137 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z138 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z139 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z140 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z141 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z142 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z143 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z144 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z145 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z146 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z147 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z148 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z149 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z150 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z151 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z152 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z153 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z154 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z155 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z156 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z157 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z158 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z159 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z160 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z161 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z162 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z163 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z164 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z165 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z166 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z167 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z168 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z169 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z170 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z171 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z172 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z173 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z174 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z175 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z176 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z177 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z178 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z179 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z180 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z181 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z182 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z183 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z184 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z185 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z186 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z187 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z188 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z189 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z190 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z191 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z192 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z193 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z194 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z195 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z196 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z197 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z198 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z199 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z200 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z201 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z202 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z203 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z204 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z205 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z206 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z207 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z208 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z209 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z210 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z211 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z212 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z213 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z214 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z215 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z216 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z217 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z218 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z219 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z220 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z221 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z222 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z223 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z224 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z225 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z226 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z227 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z228 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z229 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z230 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z231 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z232 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z233 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z234 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z235 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z236 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z237 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z238 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z239 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z240 filter=lfs diff=lfs merge=lfs -text
AMOD_For_Distribution.z241 filter=lfs diff=lfs merge=lfs -text
